version: '3.8'
services:
  web:
    image: python:3.11-slim
    working_dir: /app
    volumes:
      - ./:/app
    command: bash -lc "pip install -r requirements.txt && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    ports:
      - "8001:8001"
    volumes:
      - ./data/chroma:/chroma
