<!DOCTYPE html>
<html lang="fa">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}صفحه اصلی{% endblock %}</title>
    
    <!-- فونت‌های فارسی -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    {% load static %}
    <button onclick="toggleTheme()" class="theme-toggle">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </button>
    <link rel="stylesheet" href="{% static 'css/codemirror.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <style>
        body {
            font-family: 'Vazirmatn', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
        }
    </style>

    
    </head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">فناوران</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">ورود </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">ثبت نام</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    مدلها و پایپ لاین ها
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Translation v1</a>
                    <a class="dropdown-item" href="#">Text2SQL Pipeline 1: En to Sql without column description and few shots</a>
                    <a class="dropdown-item" href="#">Text2SQL Pipeline 1: En to Sql with column description and few shots</a>
                    <a class="dropdown-item" href="#">Text2SQL Pipeline 2: Fa to Sql with column description and few shots</a>
                    <a class="dropdown-item" href="#">Text2SQL Pipeline 4: En to Sql with column description and few shots. LLM:Gemma</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
   
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 1403/10/01 فناوران اطلاعات خبره . تمامی حقوق محفوظ است.</p>
    </footer>
    
    <script src="{% static 'js/codemirror.min.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>
    <script src="{% static 'js/sql.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

</body>
</html>
